body{
padding-top:105px;
background-image:url('images/grid_noise.png');

}

.float-right{
float:right; !important;
}

#contact{
position: relative;
left: 917px;
}
#login{
position: relative;
left: 787px;
}

#leader{
padding:10px;
margin-bottom:40px;
background-color:#E0E0E0 
}
#text_p{
font-size:20px;
text-align:center;
margin-bottom:30px;

}
#leader p{
text-align:center;
}
.footer{
text-align:center;
padding:20px;
background-color:#F0F0F0;
margin-bottom:0px;
}

.footer span{
margin-right:90px;
font-size:20px;
}


