body{
padding-top:70px;
background-image:url('images/grid_noise.png');
}

.float-right{
float:right; !important;
}

#contact{
position: relative;
left: 917px;
}
#login{
position: relative;
left: 787px;
}

#leader{
padding:30px 10px;
margin-bottom:40px;
background-color:#E0E0E0 
}
#text_p{
font-size:20px;
text-align:center;
margin-bottom:30px;

}
#leader p{
text-align:center;
}
.footer{
text-align:center;
padding:12px;
background-color:#E0E0E0 ;
margin-bottom:0px;
}

.footer span{
margin-right:90px;
font-size:15px;
text-transform:uppercase;
}
hr{
margin: 0px 0;
margin-top:10px;
border:0px;
border-top: 2px solid #C0C0C0;
border-bottom: 1px solid #C0C0C0;
}


